[Desktop Entry]
Encoding=UTF-8
Name=Woxel
Comment=Woxel design software
StartupNotify=false
Exec=woxel
Icon=woxel
Terminal=false
Type=Application
Categories=Utility;Graphics;
